.btn-medium {
	color: rgb(180, 180, 180);
	border: 1px solid rgb(180, 180, 180);
	border-radius: 50px;
	padding: 10px 15px;
	font-weight: lighter;
	opacity: 0.6;
}

.btn-medium:hover {
	opacity: 1;
	text-decoration: none;
	color: rgb(180, 180, 180);
}

.btn-twitter {
	color: white;
	border-radius: 4px;
	padding: 10px 15px;
	font-weight: bolder;
	background-color: red;
}

.btn-twitter:hover {
	text-decoration: none;
	color: white;
	background-color: orange;
}